{% include "header.html" %}

<!-- Page Header-->
<header
        class="masthead"
        style="background-image: url('../static/assets/img/about-bg.jpg')"
>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>
                    As a fresh and enthusiastic software engineer, I bring a blend of technical skills, creativity, and
                    a passion for problem-solving.
                </p>
                <p>
                    My journey into the world of programming began with Python and learning about various software
                    development life cycle concepts. I have since developed a strong foundation in various Python
                    libraries and frameworks, including Flask, Pandas, Turtle, etc. which have helped me build GUI
                    games, web apps, and websites that I've deployed on GitHub. I've also learned web scraping and
                    automation through tools like BeautifulSoup and Selenium, enabling me to build automation projects
                    and analyze data. In addition to my proficiency in Python, I am well-versed in database management
                    systems like MySQL, and PostgreSQL, and front-end technologies such as HTML, CSS, and Bootstrap,
                    enabling me to create visually appealing and user-friendly interfaces for web applications. My
                    curiosity and eagerness to learn have driven me to continuously expand my knowledge and explore new
                    technologies, keeping myself abreast of the latest developments in the rapidly evolving field of
                    software engineering.

                </p>
                <p>
                    As I transition into the professional realm, I am eager to leverage my skills and enthusiasm to
                    contribute meaningfully to impactful projects and teams. I am excited about the prospect of working
                    on different and challenging assignments that will test my abilities and allow me to make a
                    difference and expand my knowledge. As a fast and enthusiastic learner, I am committed to continuous
                    learning and growth in fields like data science,data analytics, Machine learning and AI, and I look
                    forward to contributing my creativity, problem-solving mindset, and dedication to excellence to the
                    dynamic world of software engineering.
                </p>
            </div>
        </div>
    </div>
</main>

{% include "footer.html" %}
